{% extends '../commons/common.html' %} {% block link %}
<link rel="stylesheet" href="/static/css/article/detile.css" />
<link rel="stylesheet" href="/static/js/libs/editor.md-master/css/editormd.preview.min.css"> {% endblock %} {% block script %}
<script type="text/javascript" src="/static/js/article/detile.js"></script>
{% endblock %} {% block article %}
<div class="article-detaile-page">
    <div class="article-detail-page-title">${article.title}</div>
    <div class="article-detaile-container">
        <div class="article-author-icon"><img src="../../static/images/avatar_default-78d4d1f68984cd6d4379508dd94b4210.png" alt=""></div>
        <div class="article-detaile-info">
            <div class="author-name">
                <span class="name"><a :href="article.own.href" class="author-name-link">${article.own.name}</a></span>
                <a href="javascript:void(0);" class="author-follow-but"><i class="icon iconfont">&#xe628;</i>关注</a>
            </div>
            <div class="article-info">
                <span>${article.updateTime}</span>
                <span>字数 ${article.KeyWords} </span>
                <span>阅读 ${article.read}</span>
                <span>评论 ${article.comment}</span>
                <span>喜欢 ${article.heart}</span>
            </div>
        </div>
    </div>
    <div class="article-content-container">
        <div class="article" v-html="article.content"></div>
    </div>
    <div class="article-footer">
        <span><a href="/" class="article-label"><i class="icon iconfont">&#xe644;</i>&nbsp;&nbsp;<span class="label-text">${article.label.name}</span></a>
        </span>
    </div>
    <div class="article-author-info-box">
        <div class="article-author-info">
            <div class="article-author-avatar"><img src="../../static/images/avatar_default-78d4d1f68984cd6d4379508dd94b4210.png" alt=""></div>
            <div class="article-author">
                <div class="article-author-name">bluelife</div>
                <div class="article-author-detaile-info">
                    <p>写了 944432 字，被 20606 人关注，获得了 5605 个喜欢</p>
                </div>
            </div>
            <div class="article-author-info-follow-box"><a href="javascript:void(0);" class="article-author-follow-but"><i
                        class="icon iconfont">&#xe628;</i>关注</a></div>
        </div>
        <div class="article-author-desc">专注即时通讯技术的学习、交流与传播，希望不再零碎和封闭。个人空间：http://www.52im.net/space-uid-1.htm</div>
    </div>
    <div class="heart-and-share-box">
        <div class="heart-box">
            <a href="javascript:void(0);" class="article-header-but">喜欢</a>
            <span class="heart-number">20</span>
        </div>
        <div class="share-box">
            <a href="javascript:void(0);" class="article-share-but more">更多分享</a>
            <a href="javascript:void(0);" class="article-share-but picture"><i class="icon iconfont">&#xe67b;</i></a>
            <a href="javascript:void(0);" class="article-share-but sina"><i class="icon iconfont">&#xe6b8;</i></a>
            <a href="javascript:void(0);" class="article-share-but wechat"><i class="icon iconfont">&#xe640;</i></a>
        </div>
    </div>
    <div class="article-comment-box"></div>
</div>
{% endblock %}