.article-detaile-page {
    width: 800px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

.article-detail-page-title {
    width: 100%;
    height: auto;
    line-height: 40px;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    margin: 20px 0;
}

.article-detaile-container {
    width: 100%;
    height: 48px;
    margin: 30px 0 40px;
}

.article-author-icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 0 20px 0;
}

.article-author-icon img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.article-detaile-info {
    float: left;
    width: 86%;
    height: 48px;
    padding: 0 2%;
}

.author-name {
    width: 100%;
    height: 30px;
}

.author-name .name {
    display: block;
    float: left;
    width: auto;
    height: 30px;
    line-height: 30px;
}

.author-name-link {
    color: #000;
    font-size: 16px;
}

.article-info {
    width: auto;
    height: 18px;
    color: #969696;
}

.author-follow-but {
    display: block;
    float: left;
    width: 56px;
    height: 17px;
    line-height: 17px;
    text-align: center;
    background: #42c02e;
    border: 1px solid #42c02e;
    border-radius: 10px;
    color: #fff;
    margin: 5px;
    font-size: 14px;
}

.article-content-container {
    width: 100%;
    height: auto;
}

.article-content-container img {
    display: block;
    width: 800px;
}

.article-content-container p{
    margin:0 0 20px 0;
}

/* .article {
    width: 100%;
    height: auto;
    margin: 20px 0;
} */

.article-footer {
    width: 100%;
    height: 30px;
    margin: 20px 0;
}

.article-label {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    color: #c8c8c8;
}

.article-author-info-box {
    width: 100%;
    height: 150px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background: hsla(0, 0%, 71%, .1);
    padding: 20px 2%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.article-author-info {
    width: 100%;
    height: 48px;
}

.article-author-avatar {
    float: left;
    width: 48px;
    height: 48px;
}

.article-author-avatar img {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ddd
}

.article-author {
    float: left;
    width: 76%;
    height: 48px;
    margin: 0 0 0 10px;
}

.article-author-name {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
}

.article-author-name-link {
    color: #606266;
}

.article-author-info-follow-box {
    float: left;
    width: 120px;
    height: 40px;
}

.article-author-follow-but {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #42c02e;
    border: 1px solid #42c02e;
    border-radius: 20px;
    color: #fff;
}

.article-author-detaile-info {
    width: 100%;
    height: 18px;
}

.article-author-detaile-info p {
    width: 100%;
    height: 18px;
    line-height: 18px;
}

.article-author-desc {
    width: 100%;
    height: 20px;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #ddd;
}

.heart-and-share-box {
    width: 100%;
    height: 60px;
    margin: 40px 0 80px 0;
}

.heart-box {
    float: left;
    width: 160px;
    height: 58px;
    border: 1px solid #EA6F5A;
    padding: 0 20px;
    border-radius: 30px;
}

.article-header-but {
    display: block;
    float: left;
    width: 90px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    color: #EA6F5A;
    font-size: 20px;
    position: relative;
    margin: 0 0 0 20px;
}

.article-header-but::before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url("../../images/heart_icon.png") no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 20px;
}

.heart-number {
    display: block;
    float: left;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #EA6F5A;
    border-left: 1px solid rgba(236, 97, 73, 0.4);
    padding: 0 0 0 4%;
    margin: 15px 0;
}

.share-box {
    float: right;
    width: 60%;
    height: 60px;
}

.article-share-but {
    display: block;
    float: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 4px 20px 4px 0;
}

.article-share-but:first-child {
    margin: 0;
    width: 100px;
    border-radius: 25px;
}

.wechat i {
    font-size: 30px;
    color: #00bb29;
}

.sina i {
    font-size: 30px;
    color: #e05244;
}

.picture i {
    font-size: 30px;
    color: #9b9b9b;
}

.more {
    color: #9b9b9b;
}

.article-comment-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.article-comment-form {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.article-comment-form-item {
    width: 100%;
    height: auto;
}

.article-comment-form-but {
    width: 100%;
    height: auto;
}

.article-comment-author {
    float: left;
    width: 40px;
    height: auto;
}

.articl-comment-author-icon img {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.article-comment-form-box {
    float: left;
    width: 92%;
    height: auto;
    margin: 0 0 0 2%;
}

#commen-text {
    display: block;
    width: 96%;
    height: 80px;
    padding: 2%;
    resize: none;
    outline: none;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: hsla(0, 0%, 71%, .1);
    margin: 0 0 20px 0;
}

.unlogin {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    text-align: center;
    background: hsla(0, 0%, 71%, .1);
    padding: 30px 0;
}

.article-comment-login-but {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #3194d0;
    border-radius: 20px;
    font-size: 18px;
}

.article-comment-login-tip {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}

.article-comment-form-cancle-but {
    display: block;
    float: right;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #969696;
    /* background:#42c02e;
    border:1px solid #42c02e;
    border-radius:20px; */
}

.article-comment-form-submit-but {
    display: block;
    float: right;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #42c02e;
    border: 1px solid #42c02e;
    border-radius: 20px;
    margin: 0 0 0 30px;
}

.article-comment-list-box {
    width: 100%;
    height: auto;
    margin: 0 0 20px;
}

.article-comment-list-group {
    width: 100%;
    height: auto;
}

.article-comment-list-items {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-top: 1px solid #dcdcdc;
}

.article-comment-list-author {
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
}

.article-comment-list-author-icon {
    float: left;
    width: 40px;
    height: 40px;
}

.article-comment-list-author-icon img {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #dcdcdc;
    border-radius: 50%;
}

.article-comment-content {
    width: 100%;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.article-comment-list-author-info {
    float: left;
    width: 90%;
    height: 40px;
    margin: 0 0 0 10px;
}

.article-comment-list-author-name {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.article-comment-list-author-date {
    width: 100%;
    height: 10px;
    line-height: 10px;
    font-size: 12px;
    color: #969696;
}

.article-comment-list-buts-box {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
}

.article-comment-list-but {
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #969696;
}

.article-comment-list-item-replys {
    width: 98%;
    height: auto;
    border-left: 3px solid #ddd;
    overflow: hidden;
    padding: 0 0 0 2%;
}

.replys-list-box {
    width: 100%;
    height: auto;
}

.replys-author {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.replys-author-name-info {
    display: block;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
}

.replys-comment-content {
    display: block;
    float: left;
    width: auto;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 10px;
}

.replys-date {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #969696;
    border-bottom: 1px dashed #dcdcdc;
    padding: 0 0 10px 0;
}

.replys-author-name,
.replys-own-name {
    color: #3194d0;
    font-size: 14px;
}

.replys-add-comment-but-box {
    width: 100%;
    height: 30px;
}

.add-comment {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #969696;
}

.comment-replys-form-box{
    width:98%;
    height:auto;
    overflow: hidden;
}

.comment-replys-form-textarea{
    width:98%;
    height:auto;
    border:1px solid #dcdcdc;
    border-radius: 3px;
    box-sizing: border-box;
    margin:0 0 20px 0;
}

.comment-replys-form-submit{
    width:98%;
    height:auto;
}

#comment-replys-textarea{
    display: block;
    width:96%;
    height:80px;
    border:none;
    padding:2%;
    resize: none;
}
.comment-replys-form-submit-but{
    display:block;
    float:right;
    width:120px;
    height:38px;
    line-height: 38px;
    text-align: center;
    border:1px solid #42c02e;
    border-radius:3px;
    color:#fff;
    background:#42c02e
}



.comment-replys-form-enter-active {
    animation: comment-replys-form-show .8s;
  }
  
.comment-replys-form-leave-active {
    animation: comment-replys-form-hidden .8s;
  }


  @keyframes comment-replys-form-show {
    form {
        height: 0;
    }
    to{
        height: 170px;
    }
  }


  @keyframes comment-replys-form-hidden {
    form {
        height: 170px;
    }
    to{
        height: 0;
    }
  }