<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        window.onload = function() {
            var PostMessageBut = document.getElementById('post-message');
            var iframe = document.getElementById('iframe').contentWindow;
            PostMessageBut.addEventListener('click', function() {
                console.log(iframe)
                iframe.postMessage('postmessage 测试', '*')
            }, false);
        }
    </script>
</head>

<body>
    <button id="post-message">post-message</button>
    <iframe id="iframe" src="./bbb.html" frameborder="0"></iframe>
</body>

</html>