{% extends './commons/common.html' %}}
{% block link %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block article %}
<article class="article-content">
	<div class="article-slide-bar">
		<el-carousel :interval="4000" type="card" height="200px">
	    <el-carousel-item v-for="item in 6" :key="item">
	      <h3>{{ item }}</h3>
	    </el-carousel-item>
	  </el-carousel>
	</div>
	<div class="article-content-body">

	</div>
</article>
{% endblock %}
