{% extends './commons/common.html' %}}
{% block link %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block article %}
<div class="content-body">
	<div class="page-layout-left">wthgethaeth</div>
	<div class="page-layout-right">
		<div class="model-item-box">
			<div class="model-item-header">
				<span class="title">聚合标签</span>
			</div>
			<div class="model-item-body"></div>
		</div>
	</div>
	<div class="page-layout-clear"></div>
</div>
{% endblock %}
