{% extends './commons/common.html' %}
{% block link %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block article %}
<div class="content-body">
	<div class="page-layout-left">
		<div class="slide-container"><img src="/static/images/slides_02.jpg" alt=""></div>
		<div class="article-body-box" v-if="articles.list.length">
			<article class="article-list-items" v-for="(article, $index) in articles.list" :key="$index" :data-id="article._id" :class="{'has-img':article.hasImg}">
				<div class="article-item-box" v-if="article.hasImg">
					<div class="article-list-item-layout-left">
						<div class="article-title"><a :href="article.href" class="article-title-link" :title="article.title">${article.nowTitle}</a></div>
						<div class="article-contents">${article.content}</div>
						<div class="article-meta">
							<a :href="article.own.href" class="author"><i class="icon iconfont">&#xe623;</i>${article.own.name}</a>
							<a class="date" href="javascript:void(0);"><i class="icon iconfont">&#xe663;</i>${article.updateTime}</a>
							<a v-if="user._id" class="heart" href="javascript:void(0);" @click="articleHeart($event, article, user._id)"><i class="icon iconfont">&#xe641;</i>${article.heart}</a>
							<a v-else class="heart" href="javascript:void(0);" @click="articleHeart($event, article, '')"><i class="icon iconfont">&#xe641;</i>${article.heart}</a>
							<a v-if="user._id" class="comment" href="javascript:void(0);" @click="articleComment($event, article, user._id)"><i class="icon iconfont">&#xe684;</i>${article.comment}</a>
							<a v-else class="comment" href="javascript:void(0);" @click="articleComment($event, article, '')"><i class="icon iconfont">&#xe684;</i>${article.comment}</a>
						</div>
					</div>
					<div class="article-list-item-layout-right" v-html="article.icon"></div>
				</div>
				<div class="article-item-box" v-else>
					<div class="article-title"><a :href="article.href" class="article-title-link" :title="article.title">${article.nowTitle}</a></div>
					<div class="article-contents">${article.content}</div>
					<div class="article-meta">
						<a :href="article.own.href" class="author"><i class="icon iconfont">&#xe623;</i>${article.own.name}</a>
						<a class="date" href="javascript:void(0);"><i class="icon iconfont">&#xe663;</i>${article.updateTime}</a>
						<a v-if="user._id" class="heart" href="javascript:void(0);" @click="articleHeart($event, article, user._id)"><i class="icon iconfont">&#xe641;</i>${article.heart}</a>
						<a v-else class="heart" href="javascript:void(0);" @click="articleHeart($event, article, '')"><i class="icon iconfont">&#xe641;</i>${article.heart}</a>
						<a v-if="user._id" class="comment" href="javascript:void(0);" @click="articleComment($event, article, user._id)"><i class="icon iconfont">&#xe684;</i>${article.comment}</a>
						<a v-else class="comment" href="javascript:void(0);" @click="articleComment($event, article, '')"><i class="icon iconfont">&#xe684;</i>${article.comment}</a>
					</div>
				</div>
			</article>
		</div>
		<div class="load-more"><a href="javascript:void(0);" class="load-more-but" @click="loadMores($event)">加载更多</a></div>
	</div>
	<div class="page-layout-right">
		<div class="model-item-box">
			<div class="model-item-header">
				<span class="title">聚合标签</span>
			</div>
			<div class="model-item-body">
				<a href="/" class="label-items">php</a>
				<a href="/" class="label-items">node</a>
				<a href="/" class="label-items">python</a>
				<a href="/" class="label-items">object-c</a>
				<a href="/" class="label-items">android</a>
				<a href="/" class="label-items">ios</a>
				<a href="/" class="label-items">swif</a>
				<a href="/" class="label-items">javascript</a>
				<a href="/" class="label-items">html/css</a>
				<a href="/" class="label-items">java</a>
				<a href="/" class="label-items">mongoose</a>
				<a href="/" class="label-items">mongoDB</a>
				<a href="/" class="label-items">Redis</a>
			</div>
		</div>
		<div class="model-item-box">
			<div class="model-item-header">
				<span class="title">热门文章</span>
			</div>
			<div class="model-item-body">
				<div class="hot-recommend">
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">1</i>一次JDBC与MySQL因“CST”时区...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">2</i>终于搞定了回家车票</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">3</i>对某网站的一次扫描及渗...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">4</i>你有一份2019运维技能风向标...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">5</i>说清楚讲明白vxlan在...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">6</i>微软特权访问管理...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">7</i>解决HttpServletRequest的输入...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">7</i>[实战] 基于Docker的EFK日志系统...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">8</i>Prometheus配合Alertmanager...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">10</i>基于Django设计Kibana用户认证...</a></div>
				</div>
			</div>
		</div>
		<div class="model-item-box">
			<div class="model-item-header">
				<span class="title">推荐文章</span>
			</div>
			<div class="model-item-body">
				<div class="hot-recommend">
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">1</i>一次JDBC与MySQL因“CST”时区...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">2</i>终于搞定了回家车票</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">3</i>对某网站的一次扫描及渗...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">4</i>你有一份2019运维技能风向标...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">5</i>说清楚讲明白vxlan在...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">6</i>微软特权访问管理...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">7</i>解决HttpServletRequest的输入...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">7</i>[实战] 基于Docker的EFK日志系统...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">8</i>Prometheus配合Alertmanager...</a></div>
					<div class="hot-recomment-items"><a href="/"><i class="recomment-items-index">10</i>基于Django设计Kibana用户认证...</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-layout-clear"></div>
</div>
{% endblock %}
