.page-layout-left{
    float:left;
    width:880px;
    height:auto;
    padding:0 0 20px 0;
}

.page-layout-right{
    float:left;
    width:300px;
    height:auto;
    margin:0 0 0 10px;
}

.page-layout-clear{
    clear: both;
}

.model-item-box{
    width:100%;
    height:auto;
}

.model-item-header{
    width:100%;
    height:50px;
    border-bottom: 1px solid #e7e7e7;
}

.model-item-header .title{
    display:block;
    width:120px;
    height:50px;
    line-height: 50px;
    margin:0;
    padding:0;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}

.model-item-header .title::after{
    width:100%;
    height:4px;
    content:'';
    background:#00a2ff;
    position: absolute;
    left:0;
    bottom: 0;
}

.model-item-body{
    width:94%;
    height:auto;
    padding:4% 3%;
    background: #FFF;
    overflow: hidden;
}

.slide-container{
    width:100%;
    height:340px;
    margin:10px 0 0 0;
}

.slide-container img{
    display:block;
    width:100%;
    height:340px;
    border-radius:4px;
}

.article-body-box{
    width:100%;
    height:auto;
}

.article-list-items{
    width:96%;
    height:auto;
    margin:20px 0;
    overflow: hidden;
    padding:20px 2%;
    border-bottom:1px solid #f0f0f0;
}

.article-list-items:last-child{
    border-bottom: none;
}

.article-list-items:hover{
    cursor: point;
    background:#fff;
}

.article-list-item-layout-left{
    float:left;
    width:80%;
    height:auto;
}

.article-title-link{
    display:block;
    width:100%;
    height:40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color:#333;
}

.article-contents{
    width:100%;
    height:40px;
    line-height:20px;
    font-size: 13px;
    color:#999;
}

.article-meta{
    width:100%;
    height:20px;
}

.article-meta a{
    display:block;
    float:left;
    width:auto;
    height:20px;
    line-height: 20px;
    padding:0 3px;
    font-size: 12px;
    margin:0 12px 0 0;
    color:#b4b4b4;
}

.article-meta a i{
    margin:0 3px 0 0;
}

.load-more{
    width:100%;
    height:40px;
    margin:20px 0 0 0;
}

.load-more-but{
    display:block;
    width:660px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color:#fff;
    background:#a5a5a5;
    border-radius:20px;
    margin:0 auto;
}

.article-list-item-layout-right{
    float:left;
    width:18%;
    height:auto;
    margin:0 0 0 2%;
}

.article-list-item-layout-right img{
    display:block;
    width:150px;
    height:100px;
    border-radius:4px;
}

.label-items{
    display:block;
    float:left;
    width:auto;
    height:30px;
    line-height: 30px;
    padding:0 8px;
    color:#969696;
    border:1px solid #f0f0f0;
    margin:0 3px 2px 0;
}

.hot-recommend{
    width:100%;
    height:auto;
}

.hot-recomment-items{
    width:100%;
    height:30px;
    line-height: 30px;
    margin:0;
}

.hot-recomment-items a{
    color:#969696;
}

.recomment-items-index{
    margin:0 10px 0 0;
}

.loading-img-box{
    display:none;
    width:100%;
    height:40px;
    margin:0 0 20px 0;
    padding:10px;
    text-align:center;
}

.loading-img-box img{
    display:inline-block;
    width:30px;
    height:30px;
}