html,
body,
div,
p,
b,
span,
a,
ul,
ol,
dl,
li,
table,
thead,
tbody,
tr,
td,
a {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 14px;
    color: #606266;
    background: #f7f7f8;
}

ul,
ol,
dl {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

@font-face {
    font-family: 'iconfont';
    /* project id 558588 */
    src: url('//at.alicdn.com/t/font_558588_do79ckw8tbr.eot');
    src: url('//at.alicdn.com/t/font_558588_do79ckw8tbr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_558588_do79ckw8tbr.woff2') format('woff2'), url('//at.alicdn.com/t/font_558588_do79ckw8tbr.woff') format('woff'), url('//at.alicdn.com/t/font_558588_do79ckw8tbr.ttf') format('truetype'), url('//at.alicdn.com/t/font_558588_do79ckw8tbr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100%;
    height: 100%;
    font-family: "apple-system", "SF UI Text", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif", "inconsolata";
    overflow: hidden;
}


/* table 样式 */

table {
    width: 800px;
    height: auto;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-collapse: collapse;
}

table td,
table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
}

table th {
    /* border-bottom: 2px solid #ccc; */
    text-align: center;
}


/* blockquote 样式 */

blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
}

/* code 样式 */

code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    margin: 0 3px;
    color: #f00;
    padding:5px 10px;
}

pre code {
    display: block;
    border: 1px solid #ddd;
    font-family: 'Andale Mono','Ubuntu Mono',monospace,Consolas,Monaco;
    font-size: 13px;
    color: #606266;
    overflow: auto;
    padding: 20px;
}

pre .prettyprint{
    border:1px solid #ddd !important;
    border-radius:4px !important;
}

.linenums{
    margin:0 !important;
}

.linenums code{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border:none !important;
    margin: 0;
    color: #f00;
    padding:5px 10px !important;
}

/* ul ol 样式 */

ul,
ol {
    margin: 10px 0 10px 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    color: #999;
}

.image-box{
    display: block;
    width: 100%;
    height: auto;
}

.image-title{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    color: #c8c8c8;
    border-bottom: 1px solid #dcdcdc;
}

.image-title:hover{
    cursor: pointer;
}

.header-container {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    /* opacity: 0.9;
    filter: alpha(opacity=90); */
}

.content-container {
    width: 100%;
    height: auto;
    margin: 61px 0 0 0;
    padding: 0;
}

.footer-container {
    width: 100%;
    height: auto;
    background: #23282D;
    padding: 40px 0;
}

.header-body,
.content-body,
.footer-body {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

.copy-right {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.login-block {
    display: block;
    float: left;
    width: auto;
    height: auto;
}

.nav-block {
    display: block;
    float: left;
    width: auto;
    height: auto;
}

.nav-items {
    display: block;
    float: left;
    width: auto;
    height: 60px;
    padding: 0 30px;
}

.nav-items a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #606266;
    font-size: 14px;
}

.search {
    width: 220px;
    height: 38px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 25px;
    margin: 10px 0 10px 210px;
    padding: 0 0 0 20px;
}

.search input {
    display: block;
    float: left;
    width: 180px;
    height: 38px;
    line-height: 38px;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

.search a {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: none;
    background: none;
    margin: 10px 0;
    border-radius: 50%;
    color: #969696;
}

.user-info-block {
    display: block;
    float: right;
    width: auto;
    height: auto;
    position: relative;
}

.user-info {
    float: right;
    width: auto;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.write-article-but {
    float: right;
    width: auto;
    height: 60px;
    padding: 0 10px;
}

.user-info a {
    color: #606266;
}

.user-profile-toggle:hover {
    cursor: pointer;
}

.user-profile-enter-active {
    animation: user-profile-show .5s;
}

.user-profile-leave-active {
    animation: user-profile-hidden .5s;
}

@keyframes user-profile-show {
    from {
        height: 0;
    }
    to {
        height: 240px;
    }
}

@keyframes user-profile-hidden {
    from {
        height: 240px;
    }
    to {
        height: 0;
    }
}

.user-profile {
    width: 180px;
    background: #fff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 60px;
}

.user-profile-items {
    display: block;
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding: 0 10%;
    color: #606266;
}

.user-profile-items:hover {
    background: #eee;
}

.write-article-but a {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #606266;
}

.toggle-but {
    display: block;
    float: left;
    width: 151px;
    height: 48px;
    line-height: 48px;
    border-bottom: 3px solid #fff;
    color: #969696;
    font-weight: 500;
    font-size: 15px;
}

.toggle-active {
    color: #ea6f5a;
    border-bottom: 3px solid #ea6f5a;
}

.label-required::before {
    content: '*';
    margin: 0 8px 0 0;
    color: #f00;
}

.iconfont-werite {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url("../images/write.png") no-repeat 0 0;
    background-size: 100% 100%;
    margin: 20px 0;
}

.write-text {
    display: block;
    float: left;
    width: auto;
    height: 20px;
    margin: 20px 8px;
}

.message-components-enter-active {
    animation: message-box-show .5s;
}

.message-components-leave-active {
    animation: message-box-hidden .5s;
}

@keyframes message-box-show {
    from {
        top: -50px;
    }
    to {
        top: 20px;
    }
}

@keyframes message-box-hidden {
    from {
        top: 20px;
    }
    to {
        top: -50px;
    }
}

.message-components {
    width: 400px;
    height: auto;
    position: fixed;
    ;
    left: 500px;
    top: 20px;
    z-index: 9999;
}

.message-box {
    width: 90%;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    padding: 0 5%;
    font-size: 15px;
}

.message-success {
    background: #E8F0DA;
    border: 1px solid #F1F9CE;
    color: #83C254;
}

.message-error {
    background: #FCF0F0;
    border: 1px solid #F7E3E5;
    color: #E1796C;
}

.message-warning {
    background: #F4EFDB;
    border: 1px solid #FDF6EC;
    color: #DBA44F;
}

.message-info {
    background: #EDF2Fb;
    border: 1px solid #EAEDF2;
    color: #909398;
}