{% extends '../../commons/common.html' %}
{% block link %}
<link rel="stylesheet" href="/static/css/user/set.css" />
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/user/set.js"></script>
{% endblock %}
{% block article %}
<div class="user-set-container">
    <div class="user-set-layout-menu">
        <ul>
            <li class="menu-items"><a href="/user/set/basic" class="menu-items-link basic"><i class="icon iconfont">&#xe650;</i><span>基础设置</span></a></li>
            <li class="menu-items"><a href="/user/set/profile" class="menu-items-link profile"><i class="icon iconfont">&#xe611;</i><span>个人资料</span></a></li>
            <li class="menu-items"><a href="/user/set/misc" class="menu-items-link misc"><i class="icon iconfont">&#xe926;</i><span>帐号管理</span></a></li>
            <li class="menu-items menu-active"><a href="/user/set/reward" class="menu-items-link reward"><i class="icon iconfont">&#xe606;</i><span>赞赏设置</span></a></li>
        </ul>
    </div>
    <div class="user-set-layout-right">
            <div class="user-set-form-box">
                    <div class="user-set-form-items overhidden">
                            <label for="reward">赞赏功能：</label>
                            <div class="editor-radio-box">
                                <div class="editor-radio-reward"><input type="radio" name="reward" id="reward" v-model="setting.account_form.reward" value="1" /><element class="ml10">开启</element></div>
                                <div class="editor-radio-reward"><input type="radio" name="reward" id="reward" v-model="setting.account_form.reward" value="0" /><element class="ml10">关闭</element></div>
                                <p class="editor-tip">开启后赞赏按钮将出现在你的文章底部</p>
                            </div>
                    </div>
                    <div class="user-set-form-items overhidden">
                            <label for="reward-desc">赞赏描述：</label>
                            <textarea name="reward-desc" id="reward-desc" cols="30" rows="10" v-model="setting.account_form.reward_desc"></textarea>
                    </div>
                    <div class="user-set-form-items none-border">
                        <input type="hidden" name="uid" id="uid" v-model="setting.account_form.uid" />
                        <a href="javascript:void(0);" class="save-basic-form-submit" @click="saveBaseFOrmSubmit($event,'reward')">保存</a>
                    </div>
                </div>
    </div>
    <div class="user-set-layout-clear"></div>
</div>
{% endblock %}