<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/public.css" rel="stylesheet" />
        {% block link %}
        {% endblock %}
        <script type="text/javascript" src="/static/js/vue.js"></script>
        <!-- <script type="text/javascript" src="/static/js/vue.main.js"></script> -->
        <script type="text/javascript" src="/static/js/vue-resource.js"></script>
        <script type="text/javascript" src="/static/js/bdtj.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="header-bar"></div>
            <div class="body-container">
                {% block article %}
                {% endblock %}
            </div>
            <div class="footer-bar"></div>
        </div>
    </body>

    {% block script %}
    {% endblock %}
</html>