<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/public.css" rel="stylesheet" />
        {% block link %}
        {% endblock %}
        <script type="text/javascript" src="/static/js/libs/vue.js"></script>
        <!-- <script type="text/javascript" src="/static/js/libs/vue.main.js"></script> -->
        <script type="text/javascript" src="/static/js/libs/vue-resource.js"></script>
        <script type="text/javascript" src="/static/js/utils/utils.js"></script>
        <script type="text/javascript" src="/static/js/bdtj.js"></script>
        <script type="text/javascript" src="/static/js/libs/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="header-container">
                <div class="header-body">
                    <div class="login-block"><img src="/static/images/logo.png" alt=""></div>
                    <div class="nav-block">
                        <span class="nav-items"><a href="/" class="nav-item-a">首页</a></span>
                        <!--span class="nav-items"><a href="" class="nav-item-a">文章</a></span-->
                        <!-- <transition name="search-blur"> -->
                            <span class="nav-items search">
                                <input type="text" name="search" placeholder="搜索：输入关键字" @blur="searchBlurListener($event)"/>
                                <a href="javascript:void(0);" class="search-but"><i class="icon iconfont">&#xe71e;</i></a>
                            </span>
                        <!-- </transition> -->
                    </div>
                    <div class="user-info-block">
                        <div class="user-info">
                            <span v-if="user.name" @click="showUserProfileToggle($event)" class="user-profile-toggle">${user.name}<i class="icon iconfont">&#xe68f;</i></span>
                            <span v-else>
                                <element><a href="/login" class="header-login-link">登录</a></element>
                                <element>|</element>
                                <element><a href="/register" class="header-login-link">注册</a></element>
                            </span>
                        </div>
                        <div class="write-article-but">
                            <a href="/article/new" class="nav-item-a"><i class="icon iconfont-werite"></i>&nbsp;&nbsp;<span class="write-text">写文章</span></i></a>
                        </div>
                        <transition name="user-profile">
                            <div class="user-profile" v-show="showUserProfile">
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe614;</i>&nbsp;&nbsp;<span>我的主页</span></a>
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe6a8;</i>&nbsp;&nbsp;<span>我收藏的文章</span></a>
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe641;</i>&nbsp;&nbsp;<span>我喜欢的文章</span></a>
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe632;</i>&nbsp;&nbsp;<span>设置</span></a>
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe60a;</i>&nbsp;&nbsp;<span>问题与反馈</span></a>
                                <a href="/" class="user-profile-items"><i class="icon iconfont">&#xe633;</i>&nbsp;&nbsp;<span>退出</span></a>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
            <div class="content-container">
                {% block article %}
                {% endblock %}
            </div>
            <div class="footer-container">
                <div class="footer-body">
                    <div class="copy-right">Copy&nbsp;&nbsp;&copy;&nbsp;&nbsp;Right&nbsp;&nbsp;blog.mcloudhub.com&nbsp;&nbsp;ALL&nbsp;&nbsp;Server&nbsp;&nbsp;晋ICP备13007655号</div>
                    <div class="link">友情连接：</div>
                </div>
            </div>
        </div>
    </body>

    {% block script %}
    {% endblock %}
</html>
